@import "./utilities/variables";
@import "./base/generales";
@import "./layout/nav";
@import "./layout/hero";
@import "./layout/footer";
@import "./components/mediaquery";

body {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "navbar"
                       "hero" 
                       "main"
                       "footer";
}

#main {
  grid-area: main;
  width: 100%;
  background-color: $color_1;
  h1{
    margin-top: 10rem;
    margin-bottom: 2.5rem;
    text-align: center;
    padding: 1rem;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 5rem;
    font-weight: 800;
  }
  h2{
    text-align: center;
    padding: 1rem;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 3rem;
    font-weight: 800;
  }
}

.index-post {
  width: 90%;
  transition: all 1.5s;
  overflow: hidden;
  margin: auto auto 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.contener {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 350px;
  overflow: hidden;
  background-color: $color_3;
  box-shadow: 0 0 0.3rem 0 #00000073;
  transition: all 0.3s;
  &:hover{
    transform: translateY(-6px);
    box-shadow: 0 11px 14px rgb(0 0 0 / 25%), 0 8px 20px rgb(0 0 0 / 10%);
  }
}

.image-contener {
  width: 100%;
  height: auto;
  overflow: hidden;
  img{
    width: 100%;
  }
}

.meta-contener {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 110px;
  padding: 1rem 2rem;
  .title{
    padding: 0;
    margin: 1rem 0 4.2rem 0;
    font-size: 1.5rem;
    color: $color_2;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
  }
  .desc{
    display: flex;
    align-items: center;
    width: 80%;
    text-align: center;
    height: 4rem;
    font-family: 'Titillium Web', sans-serif;
  }
}

.galeria {
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  background-color: $color_3;
  padding: 1rem;
  box-shadow: 0 0 0.3rem 0 #00000073;
  transition: all 0.3s;
  &:hover{
    transform: translateY(-6px);
    box-shadow: 0 11px 14px rgb(0 0 0 / 25%), 0 8px 20px rgb(0 0 0 / 10%);
  }
}

.contenedor-imagenes {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  .imagen{
    position: relative;
    margin-bottom: 0.5rem;
    width: 15%;
    img{
        width: 100%;
        height: 100%;
    }
  }
}

.container-news {
  width: 90%;
  background: $color_3;
  padding: 6rem;
  margin: auto auto 1rem auto;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, .3);
  transition: all 0.3s;
  &:hover{
    transform: translateY(-6px);
    box-shadow: 0 11px 14px rgb(0 0 0 / 25%), 0 8px 20px rgb(0 0 0 / 10%);
  }
  .title-news{
    color: $color_2;
    text-align: center;
    font-size: 3rem;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
  }
  p{
    color: $color_2;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
    font-family: 'Titillium Web', sans-serif;
  }
  form{
    width: 50%;
    margin: auto;
    .inputBox{
        width: 100%;
        height: 7rem;
        background-color: $color_4;
        position: relative;
        input{
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 5rem);
            height: 100%;
            border: none;
            outline: none;
            background: transparent;
            padding: 0 2rem;
            font-size: 3rem;
            color: $color_2;
        }
        .btn{
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            width: 5rem;
            height: 5rem;
            border: none;
            outline: none;
            background: $color_1;
            color: $color_2;
            cursor: pointer;
            animation: animate 3s infinite;
        }
    }
  }
}

@keyframes animate{
  0%, 100%{
    box-shadow: none;
  }
  50%{
    box-shadow: 0 0 0 0.5rem goldenrod,
                0 0 0 1rem darkorange;
  }
}

.container-news form .inputBox .btn:hover {
  animation: none;
}

.contact-content {
  width: 80%;
  margin: 1rem auto auto auto;
  padding: 1.5rem;
}

.logo-contact {
  font-size: 5rem;
  font-weight: 500;
  margin: 1rem;
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
  span{
    color: $color_5;
  }
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.contact-wrapper > * {
  padding: 2rem;
}

.contact-form {
  background-color: $color_3;
  form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    div{
        margin: 0;
        padding: 1rem;
        label{
            display: block;
            font-family: 'Titillium Web', sans-serif;
            font-size: 1.5rem;
        }
    }
  }
}

.block {
  grid-column: 1 / 3;
}

.contact-form form input,
.contact-form form button,
.contact-form form textarea {
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: none;
  outline: 0;
  color: $color_2;
  border-bottom: 0.1rem solid $color_2;
}

.contact-form form button {
  background-color: $color_2;
  border: 0;
  color: $color_3;
  text-transform: uppercase;
  padding: 1rem;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background-color: $color_4;
  color: $color_2;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  background-color: $color_2;
}

.contact-info ul,
.contact-info ul li,
.contact-info p {
  text-align: left;
  margin: 0 0 1rem 0;
  color: $color_3;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5rem;
}

.contact-location {
  width: 80%;
  margin: auto;
  iframe{
    width: 100%;
  }
}

.info__header {
  text-align: center;
  width: 80%;
  margin: 10rem auto auto auto;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.accordion {
  width: 80%;
  margin: 2.5rem auto 5rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  background-color: $color_3;
}

.accordion__label,
.accordion__content {
  padding: 1.4rem 2rem;
}

.accordion__label {
  display: block;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
  color: $color_3;
  background-color: $color_2;
  &:hover{
    background: rgba(0, 0, 0, 0.8);
  }
  &::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    width: 1.2rem;
    height: 0.6rem;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
  }
}

.accordion__content {
  font-family: 'Titillium Web', sans-serif;
  background-color: $color_4;
  line-height: 1.6;
  font-size: 1.25rem;
  display: none;
}

.accordion__input {
  display: none;
  &:checked ~ .accordion__content {
    display: block;
  }
  &:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
  }
}

.index-post-expo {
  width: 90%;
  transition: all 1.5s;
  overflow: hidden;
  margin: auto auto 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.contener-expo {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 500px;
  overflow: hidden;
  background-color: $color_3;
  box-shadow: 0 0 0.3rem 0 #00000073;
  transition: all 0.3s;
  &:hover{
    transform: translateY(-6px);
    box-shadow: 0 11px 14px rgb(0 0 0 / 25%), 0 8px 20px rgb(0 0 0 / 10%);
  }
}

.image-contener-expo {
  width: 100%;
  height: 312px;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
  }
}

.meta-contener-expo {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 110px;
  padding: 1rem 2rem;
  .title-expo{
    padding: 0;
    margin: 1rem 0 1rem 0;
    font-size: 2rem !important;
    color: $color_2;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
  }
  .desc-expo{
    display: flex;
    align-items: center;
    width: 80%;
    text-align: center;
    height: 4rem;
    font-family: 'Titillium Web', sans-serif;
  }
}

.stands {
  width: 90%;
  margin: auto;
  background-color: $color_3;
  box-shadow: 0 0 0.3rem 0 #00000073;
  h2{
    padding: 0;
    margin: 1rem 0 1rem 0;
    font-size: 2rem !important;
    color: $color_2;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
  }
  figure{
    width: 100%;
    img{
        width: 100%;
    }
  }
}

.container-card-stands {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card-stands {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
}

.artistas {
  width: 90%;
  margin: 1rem auto 1rem auto;
  background-color: $color_3;
  box-shadow: 0 0 0.3rem 0 #00000073;
  h2{
    padding: 0;
    margin: 1rem 0 1rem 0;
    font-size: 2rem !important;
    color: $color_2;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
  }
}

.container-card-artistas {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card-artistas {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
}

.title-list {
  padding: 0;
  margin: 1rem 0 1rem 0;
  font-size: 1.5rem;
  color: $color_2;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
}

.container-video {
  width: 90%;
  margin: auto;
  background-color: $color_3;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 0.3rem 0 #00000073;
}

.card-video {
  width: 30%;
  h2{
    font-size: 1.5rem !important;
  }
  iframe{
    width: 100%;
  }
}

.container-cronograma {
  width: 90%;
  margin: 1rem auto 1rem auto;
  background-color: $color_3;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  box-shadow: 0 0 0.3rem 0 #00000073;
}

.cronograma {
  width: 30%;
  padding: 1rem;
  h3{
    padding: 0;
    margin: 1rem 0 1rem 0;
    font-size: 1.5rem;
    color: $color_2;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
  }
}

.content-cronograma {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0 1rem 0;
}

.title-cronograma {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  margin: 1rem 0 1rem 0;
  font-size: 1.2rem;
}