$color_1: gold;
$color_2: black;
$color_3: white;
$color_4: silver;
$color_5: darkmagenta;

$estilos_h123: (
    text-align: center,
    padding: 0,
    font-weight: 700,
    margin: 1rem 0 1rem 0,
);

@mixin width-size($width) {
    width: $width;
}