@import "../utilities/variables";

/*FORMATO MOBILE*/
@media (max-width: 767px) {

    .checkbtn {
      display: block;
    }
  
    #navbar ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: gold;
      top: 80px;
      left: -100vw;
      text-align: center;
      transition: all .5s;
      li{
          display: block;
          margin: 50px 0;
          line-height: 30px;
          a{
              font-size: 2rem;
              color: black;
              &:hover{
                  background: black;
                  color: $color_3;
              }
          }
      }
    }
  
    #check:checked ~ ul{
      left: 0;
    }
  
    #hero .hero-text h1 {
      font-size: 2.5rem;
    }
  
    #hero .hero-text p {
      font-size: 1.5rem;
    }
  
    .contener {
      width: 95%;
      height: 500px;
    }
  
    .container-news form {
      width: 100%;
    }
  
    .contact-wrapper {
      grid-template-columns: 1fr;
    }
  
    .contact-info ul,
    .contact-info ul li,
    .contact-info p {
      text-align: center;
    }
  
    .contener-expo {
      width: 95%;
      height: 500px;
    }
  
    .container-card-stands {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .container-video {
      justify-content: center;
    }
  
    .card-video {
      width: 90%;
    }
  
    .container-cronograma {
      justify-content: center;
    }
  
    .cronograma {
      width: 90%;
    }
  }
  
  /*FORMATO TABLET*/
  @media (min-width: 768px) and (max-width: 1023px) {
  
    .enlace{
      padding-left: 20px;
    }
  
    #navbar ul li a{
      font-size: 1.3rem;
    }
  
    .contener {
      width: 45%;
    }
  
    .container-news form {
      width: 75%;
    }
  
    .contact-wrapper {
      grid-template-columns: 1fr;
    }
  
    .contact-info ul,
    .contact-info ul li,
    .contact-info p {
      text-align: center;
    }
  
    .contener-expo {
      width: 45%;
    }
  
    .card-video {
      width: 45%;
    }
  
    .cronograma {
      width: 45%;
    }
  }